@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sider-width: 120px;
}

@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Rubik.ttf") format("truetype");
}

// @font-face {
//   font-family: "DIN Next Arabic";
//   font-style: normal;
//   font-weight: 500;
//   src: url("./assets/fonts/DINNextArabicMedium.ttf") format("truetype");
// }

// @font-face {
//   font-family: "DIN Next Arabic";
//   font-style: normal;
//   font-weight: 400;
//   src: url("./assets/fonts/DINNextArabicRegular.ttf") format("truetype");
// }
// @font-face {
//   font-family: "DIN Next Arabic";
//   font-style: normal;
//   font-weight: 200;
//   src: url("./assets/fonts/DINNextArabicLight.ttf") format("truetype");
// }

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:
    "Rubik",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! 4. Add accessible line-height 5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* custom classes */
.white-panel {
  @apply bg-white shadow-sm rounded-md border border-solid border-colorGrayMain;
}

/* ant design override classes */

.ant-segmented-item{
  padding: 8px 16px;
}
.ant-segmented-item-label {
  font-weight: 500;
}