.container {
  @apply fixed flex items-center justify-center inset-0 bg-white;
}

.loader {
  @apply w-8 h-8 relative rounded-full  animate-fill;
}

.loader::before,
.loader::after {
  content: "";
  @apply absolute h-full w-full top-0 left-12 animate-fill rounded-full;
}

.loader::after {
  @apply left-auto right-12 duration-1000;
}
